.container {
  display: flex;
  justify-content: center;
  width: 70%;
}

@media (max-width: 770 px) {
  .container {
    width: 100%;
  }

  .image {
    width: 100%;
    height: 20%;
  }
}